body {
    background-color: black;
    color: white;
    
}
/* color auf weiß? Slider Hintergrund und Button Hintergrund auf schwarz background-color von tr#track1.column verändern!*/
.invisible {
	display: none;
}

.visible {
	display: inherit;
}

.slider {
        border: 1px solid red;
        float: left; 
        position: relative;
        width: 40%;
        height: 100%;
}

.button{
    position: relative;
    float: left;
    border: 1px solid red;
    width: 10%;
    height: 100%;
}

div.buttonpl0{
    position: relative;
    float: left;
    border: 1px solid red;
    width: 100%;
    height: 100%;
} 

.buttonpl {
    position: relative;
    float: left;
    border: 1px solid red;
    width: 30%;
    height: 29%;    
}

.buttonTable {
    border: 1px solid red;
}

.buttonStart {
    border: 1px solid red;
    width: 90%;
    height: 20%;
    text-align: center;
    margin-left: 5%;
    margin-top: 3%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.linkColor:visited {
    color: white;
    text-decoration: none;
}

.linkColor:link {
    color: white;
    text-decoration: none;
}
/*.buttondiv{
    position: relative;
    float: left;
    border: 1px solid red; 
    width: 10%;
    height: 150%;    
} 
*/
table.slot {
	position: relative;
	float: left;
	table-layout: fixed;
	width: 1300em;
}

/*tr#track1.column {
    background-color: blue;
}*/

th.slot, td.slot {
	display: inline-block;
}

th.slot {
	width: 3em;
	border: 2px solid white;
}

td.slot {
	width: 3em;
	border: 2px solid blue;
}

#leftSlot{
    float: left;
    width: 33%;
    height: 100%;
}

#startMenu {
    border: 1px solid red;
    float: left;
    width: 33%;
    text-align: center;
    margin-top: 7%;
    padding-bottom: 10px;
}

/*#hover {
    border: 1px solid red;
    float: right;
    width: 30%;
    height: 20%;
    
}
*/
#track0 {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

#track0 li {
	margin: 3px 3px 3px 0;
	padding: 1px;
	float: left;
	width: 8em;
	height: 4em;
	text-align: center;
}

#main {
        width: 100%; 
        height: 100%;
        position: absolute;
        border: 1px solid black; 
        top: 0; 
        left: 0;
}

#timeline {
        width: 100%; 
        height: 10%; 
        position: absolute; 
        top: 0; 
        left: 0; 
        overflow-x: auto; 
        border: 1px solid red;
}

#gleis0 {
        width: 100%; 
        height: 10%; 
        position: absolute; 
        top: 10%; 
        left: 0; 
        border: 1px solid green;
}

#gleise {
        width: 100%;
        height: 70%; 
        position: absolute; 
        top: 20%; 
        left: 0; 
        border: 1px solid blue; 
        overflow-y: auto; 
        overflow-x: auto;
}

#control {
        width: 100%; 
        height: 10%; 
        position: absolute; 
        top: 90%; 
        left: 0; 
        border: 1px solid grey;
}

#menu {
        position: relative; 
        float: left; 
        width: 29%;
}

#amount {
        background-color: black;
        border:0; 
        color:white; 
        font-weight:bold;
}

#slider {
        background-color: white;
        width: 97%; 
        padding: 1px;
        margin: 5px;
}

#toggleautoscroll {
    border: 1px solid red;
    width: 8%;
    /*
        XXX/ToDo: because border of surroundings is 1px which is added to width,
                  usually 10%, which does add to over 100%.
        Solution: use inner divs to achieve borders
     */
    height: 100%;
    position: relative;
    float: left;
}

#moneydisplay {
    border: 1px solid red;
        width: 10%;
        height: 100%;
        position: relative; 
        float: right;
}

#days {
    border: 1px solid red;
        width: 10%;
        height: 100%;
        position: relative; 
        float: right;
}

#timeslider-slider {
        width: 10px; 
        background-color: rgba(255, 0, 0, 0.8);
        height: 90%;
        position: absolute;
        top: 0;
        z-index: 1;
}

#shop {
        width: 80%; 
        height: 80%; 
        position: absolute; 
        top: 10%; 
        left: 10%; 
        z-index: 2; 
        border: 1px solid yellow; 
        background-color: black;
}

#shop-title {
        position: relative; 
        float: left; 
        width: 90%; 
        height: 10%;
}

#shop-close {
        position: relative; 
        float: right; 
        width: 10%; 
        height: 10%;
}

#selectPlatform {
        overflow: auto;
        width: 40%; 
        height: 40%; 
        position: absolute; 
        top: 10%; 
        left: 10%; 
        z-index: 3; 
        border: 1px solid blue; 
        background-color: black;
}

#selectPlatform-close {
        text-align: right;
        position: relative; 
        float: right; 
        width: 100%; 
        height: 10%;
}

#selectPlatform-inner {
        width: 100%; 
        height: 80%;
}

#contracts {
        width: 80%; 
        height: 80%; 
        position: absolute; 
        top: 10%; 
        left: 10%; 
        z-index: 2; 
        border: 1px solid red; 
        background-color: black;
}

#contract-title {
        position: relative; 
        float: left; 
        width: 90%; 
        height: 10%;
}

#contract-close {
        position: relative; 
        float: right; 
        width: 10%; 
        height: 10%;
}

#contractsoffered {
        float: left; 
        width: 49%;
        overflow:auto;
}

#contractstaken {
        float: left; 
        width: 49%; 
        height: 80%; 
        overflow:auto;
}

#openContracts {
    background-image: url(pic/contract.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:100px 100px ;
}

#openShop {
    background-image: url(pic/upgrade.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:100px 100px ;
}

#toggleautoscroll {
    background-image: url(pic/autoscroll-on.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:100px 100px ;
}